
<h2>Create new Awesome Contact</h2>

<form action='/contacts' method='post'>
    <label for="first_name">First name:</label>
        <input type='text' name='first_name'>
    <label for="last_name">Last name:</label>
        <input type='text' name='last_name'>
    <label for="email">Email:</label>
        <input type='text' name='email'>
    <label for="note">Note:</label>
        <input type='text' name='note'>

    <input type='submit' value='New Contact'>
</form>

<h3>Good for you, making new friends</h3>
