* {
    box-sizing: border-box;
}



header{
  text-align:center;;
  width:100%;
  background: #B0C4DE;
  text: #000000;
  padding: 30px;
  height: 210px;
}

#title_wrapper {
    width: 50%;
    float: left;
}

#title_wrapper h1 {
    padding-top: 25px;
    color: white;
}

nav {
    width: 50%;
    float: left;
}

nav ul{
  list-style:none;
  text-align: left;
  line-height: 30px;
}

nav li a {
    text-decoration: none;
    color: white;
}

nav li a:hover{
  color:#35673f;
}


/*Contact Bar*/
.contact_header {
    width: 100%;
    padding: 10px;
    background: #7aceba;
    color: white;
    text-align: center;
}

/*Contact Tiles*/
.tile-wrapper {
    display: block;
    clear: both;
    max-width: 1000px;
    margin: 30px auto;
}

.contact-tile{
    width: 30%;
    float: left;
    min-height: 300px;
    background: #f1f1f1;
    margin-right: 5%;
    margin-bottom: 30px;
    /*add nice rounded corners*/
    border-radius: 20px;
}
/*turn off the left margin on every 3rd tile*/
.contact-tile:nth-child(3n){
    margin-right: 0;
}

.contact-detail {
    padding: 20px;
}

.contact-detail ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li.contact-email {
    padding-bottom: 20px;
}

.contact-links {
    padding: 20px;
}


.contact-tile a {
    text-decoration: none;
    color: grey;
}


h1{
  font-family:'Helvetica' sans-serif;
  margin:px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}
h2{
  font-size:1em;
  margin:0;
  font-weight:normal;
  color:#fff;
  background-color: #B0C4DE;

}
a {
  color: #0000FF;
}

/* meg notes: leaving out selected here. As well as selection options. Because everything is feeding from layout having
individual selected sites is causing troubles*/

body{
  color:#000000;
  text: #000000
}

footer {
  font-size:1em;
  text-align:center;
  color: #F0F8FF
  background-color: #000;
  clear: both;
}
.contacts{
    background-color: #E6E6FA;
    text-align:center;
    colour: #000000
}
